<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Prj_DeutschSprachInstitut.Properties.Settings.SchulverwaltungConnectionString"
            connectionString="Data Source=DESKTOP-OF1I649\SQLEXPRESS;Initial Catalog=Schulverwaltung;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
